<div id="login_form">
  <%= form_with url: "/login", method: :post, data: { turbo: false } do |f| %> 
    <%= f.label :email, 'Email:' %>
    <%= f.text_field :email, class: "form-control" %>
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.submit "Log In", class: "btn btn-primary" %>
  <% end %>
</div>
