<h1>Viewing Party</h1>
<%= button_to "Discover Page", user_discover_index_path, method: :get %>
<br>
<% if params[:q] == "top 20rated" %>
  <div>
    <table id="top-20-movies">
      <% @facade.make_movies(@facade.top_movies).each do |movie| %>
        <tr>
          <td><%= link_to movie.title, user_movie_path(params[:user_id], movie.id), data: { turbo_method: :get } %></td>
          <td>Vote Average: <%= movie.vote_average %></td>
        </tr>
      <% end %>
    </table>
  </div> 
<% elsif params[:keyword].present? %>
  <div>
    <table id="search-params">
      <% @facade.make_movies(@facade.search_movies(params[:keyword])).each do |movie| %>
        <tr>
          <td><%= link_to movie.title, user_movie_path(params[:user_id], movie.id), data: { turbo_method: :get } %></td>
          <td>Vote Average: <%= movie.vote_average %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

