<%= button_to "Discover Page", user_discover_index_path, method: :get %>
<br>
<% if @keyword == "top 20rated" %>
  <div>
    <table id="top-20-movies">
      <% @facade.top_20_movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, user_movie_path(@facade.user_id, movie.id), data: { turbo_method: :get } %></td>
          <td>Vote Average: <%= movie.vote_average %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% elsif @keyword %>
  <div>
    <table id="search-params">
      <% @facade.movie_search_results(@keyword).each do |movie| %>
        <tr>
          <td><%= link_to movie.title, user_movie_path(@facade.user_id, movie.id), data: { turbo_method: :get } %></td>
          <td>Vote Average: <%= movie.vote_average %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
