<h1><%= "#{@user.name}'s Dashboard" %></h1><br>
<style>
  .row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 500px;
}

* {
  box-sizing: border-box;
}
</style>

<section class="viewing_parties">
  <div class="row">
    <% @movies.each do |movie| %>
      <% @user.viewing_parties.each do |party| %>
        <div id="movie-<%= movie.id %>-party-<%= party.id %>" class="column viewing_party">
          <% if movie.id == party.movie_id %>
            <p><%= image_tag  "#{movie.poster_path}", size: "300x400" %></p>
            <%= link_to movie.title, user_movie_path(@user.id, movie.id), data: { turbo_method: :get } %>
          <% end %>
          <br>
          Party Time: <%= party.date %> at <%= party.start_time %><br>
          Host: <%= party.find_host.name %><br>
          Who's Coming? <br/>
          <ol>
            <% party.users.each do |attendee| %>
              <% if attendee.name == @user.name %>
                <li><strong><%= attendee.name %></strong></li>
              <% else %>
                <li><%= attendee.name %></li>
              <% end %>
            <% end %>
          </ol>
        </div>
      <% end %>
    <% end %>
    <br>
  </div
</section>
