<h1><%= "#{@user.name}'s Dashboard" %></h1><br>
<h2>Location: <%= cookies[:message] %></h2>
<%= link_to 'Log Out', logout_path, data: { turbo_method: :delete } %>
<section class="container">
  <div class="row row-cols-2">
    <% @movies.each do |movie| %>
      <% @user.viewing_parties.each do |party| %>
        <div class="col viewing_party movie-<%= movie.id %>-party-<%= party.id %> container">
          <% if movie.id == party.movie_id %>
          <div class="text-center">
            <h3><%= link_to movie.title, movie_path(movie.id), data: { turbo_method: :get } %></h3><br>
            <%= image_tag  "#{movie.poster_path}", size: "200x300" %>
          </div>
          <% end %>
          <br>
          <div class="center text-center">
            <h4>Host: <%= party.find_host.name %></h4>
            <div class="container center">
              Party Date: <%= party.date %><br>
              Party Time: <%= party.start_time %><br><br>
              <p>Who's Coming?</p>
              <ol class="list-group list-group-numbered container center">
                <% party.users.each do |attendee| %>
                  <% if attendee.name == @user.name %>
                    <li class="list-group-item"><strong><%= attendee.name %></strong></li>
                  <% else %>
                    <li class="list-group-item"><%= attendee.name %></li>
                  <% end %>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <br>
  </div
</section>
